<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>work_world_and_travel</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {% if user.is_authenticated %}
    <p>Hello {{ user.username }}</p>
  {% endif %}
    <a href="{% url 'your_profile' %}">
    <button type="button">Your Profile</button>
  </a>
  <h2>Add your offer</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
</body>
</html>
