{% extends 'index.html' %}

{% block contents %}
  <h2>Conversation from offer: {{ offer.name }}</h2>
    <br>
  
  <div>
    {% for conversation in conversations %}
      <div class="conversation">
        <h3>Conversation between: {{ request.user.username }} and {{ conversation.partner.username }}</h3>
        <div class="message">
          <p><strong>From:</strong> {{ conversation.last_message.sender.username }} <strong>To:</strong> {{ conversation.last_message.receiver.username }}</p>
          <p>Last message: {{ conversation.last_message.message }}</p>
          <p><small>Sent on: {{ conversation.last_message.time }}</small></p>
            <a href="{% url 'topic_view' offer_id=offer.id sender_id=conversation.partner.id %}">Conversation</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}



