{% extends 'index.html' %}

{% block contents %}
    <h1>{{ offer.name }}</h1>
        {% if sender_user %}
    <h2>Messages with {{ sender_user.first_name}}</h2>
    {% else %}
    <h2>Messages:</h2>
    {% endif %}
    <ul>
        {% for message in messages %}
            <li>from: {{ message.sender.first_name}} <br>
                {{ message.message }}</li>
        {% endfor %}
    </ul>
     <h2>Write a message:</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
{% endblock %}
