{% extends 'index.html' %}

{% block contents %}
<h1>Offers:</h1>
    <form action="" method="get">
        <label for="search">Where:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Search</button>
    </form>
        {% for offer in offers_list %}
            <div>
            <h2><a href="{% url 'offer_details' offer_id=offer.id %}">{{ offer.name }}</a></h2>
            <p>Country: {{ offer.country }}</p>
            <p>City: {{ offer.city }}</p>
            {% for category in offer.category.all %}
                <p>Category: {{ category.name}}</p>
            {% endfor %}
            {% if user.is_authenticated %}
            <p> Owner: {{ offer.owner.first_name }}</p>
                <a href="{% url 'offer_details' offer_id=offer.id %}" >Offer Details<br></a>
                {% if offer.owner == user %}
                    <a href="{% url 'edit_offer' offer_id=offer.id %}">Edit offer<br></a>
                    <a href="{% url 'delete_offer_ays' offer_id=offer.id %}">Delete offer<br></a>
                {% endif %}
            {% else %}
                <a href="{% url 'offer_details' offer_id=offer.id %}">Offer Details<br></a>
            {% endif %}
            </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if offers_list.has_previous %}
                <a href="?page={{ offers_list.previous_page_number }}">&laquo; previous</a>
            {% endif %}
            {% for i in offers_list.paginator.page_range %}
                {% if offers_list.number == i %}
                    <span class="current">
                        {{ i }}
                    </span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if offers_list.has_next %}
                <a href="?page={{ offers_list.next_page_number }}">next &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
