{% extends 'index.html' %}

{% block contents %}
<h1>Offer Details</h1>
<h2><a>{{ offer.name }}</a></h2>
    <form action="" method="get">
        <label for="search">Where:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Search</button>
    </form>
        {% for offer in offers %}
            <div>
            <h2><a href="{% url 'offer_details' offer_id=offer.id %}">{{ offer.name }}</a></h2>
            <p>Country: {{ offer.country }}</p>
            <p>City: {{ offer.city }}</p>
            {% for category in offer.category.all %}
                <p>Category: {{ category.name}}</p>
            {% endfor %}
            {% if user.is_authenticated %}
            <p> Owner: {{ offer.owner.first_name }}</p>
                {% if offer.owner != user %}
                <form action="{% url 'message_view' offer_id=offer.id sender=message.sender %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Message</button>
                </form>
                {% endif %}
            <form action="{% url 'offer_details' offer_id=offer.id %}" method="get">
                {% csrf_token %}
                <button type="submit">Offer Details</button>
            </form>
                {% if offer.owner == user %}
                    <form action="{% url 'edit_offer' offer_id=offer.id %}" method="get">
                        {% csrf_token %}
                        <button type="submit">Edit offer</button>
                    </form>
                    <a href="#" class="btn btn-danger rounded-0 text-light m-1">Delete</a>
                {% endif %}
            {% else %}
            <form action="{% url 'offer_details' offer_id=offer.id %}" method="get">
                <button type="submit">Offer Details</button>
            </form>
            {% endif %}
            </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if offers_list.has_previous %}
                <a href="?page={{ offers_list.previous_page_number }}">&laquo; previous</a>
            {% endif %}
            {% for i in offers_list.paginator.page_range %}
                {% if offers_list.number == i %}
                    <span class="current">
                        {{ i }}
                    </span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if offers_list.has_next %}
                <a href="?page={{ offers_list.next_page_number }}">next &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
