<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer List</title>
</head>

<body>
    <h1>Offer List</h1>
    <form action="" method="get">
        <label for="search">Where: </label>
        <input type="text" id="search" name="search">
        <button type="submit">Search</button>
    </form>
    {% for offer in offers %}
    <div>
        <h2>{{ offer.name }}</h2>
        {% if user %}
        <p>Country: {{ offer.country }}</p>
        <p>City: {{ offer.city }}</p>
        <p>Name: {{ offer.name }}</p>
        <p>Category: {{ offer.category.all|join:", "}}</p>
        <form action="{% url 'message_view' %}" method="post">
            {% csrf_token %}
            <button type="submit">Message</button>
        </form>
        <form action="{% url 'offer_details_log' name=offer.name %}" method="get">
            {% csrf_token %}
            <button type="submit">Offer Details</button>
        </form>
        <form action="{% url 'logout_view' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <p> Country: {{ offer.country }}</p>
        <p>Name: {{ offer.name }}</p>
        <p>Category: {{ offer.category.all|join:", "}}</p>
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log in</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}
</body>

</html>
