<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Offer Details</title>
</head>
<body>
  <h1>Offer Details</h1>
  <div>
    <h2>{{ offer.name }}</h2>
    <p>Country: {{ offer.country }}</p>
    <p>City: {{ offer.city }}</p>
    <p>Description: {{ offer.description }}</p>
    <p>Offer Type: {{ offer.get_offer_type_display }}</p>
    <p>Categories: {{ offer.category}}</p>
    <p>Active: {{ offer.is_active }}</p>
  </div>
</body>
</html>
