<!-- start.html -->
{% extends 'index.html' %}

{% block contents %}
    <h1>Work, world & travel</h1>
    <form action="" method="get">
        <label for="search">Where: </label>
        <input type="text" id="search" name="search">
        <button type="submit">Search</button>
    </form>

    <div>
        <a href="{% url 'offers_list' %}"><button>Offers</button></a>
    </div>
{% endblock %}








{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#        <style>#}
{#        body {#}
{#            background-color: lightskyblue;#}
{#            color: hotpink;#}
{#            text-align: center;#}
{#            margin: 0;#}
{#            display: flex;#}
{#            flex-direction: column;#}
{#            justify-content: center;#}
{#            align-items: center;#}
{#            height: 100vh;#}
{#        }#}
{##}
{#        .shapes {#}
{#            position: absolute;#}
{#            top: 0;#}
{#            left: 0;#}
{#            width: 100%;#}
{#            height: 100%;#}
{#            z-index: -1;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#    <div class="shapes">#}
{#        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="lavender">#}
{#            <circle cx="30" cy="70" r="15"/>#}
{#            <circle cx="70" cy="30" r="20"/>#}
{#            <path d="M50 0 A50 50 0 0 0 50 100 Z" fill="lavender"/>#}
{#        </svg>#}
{#    </div>#}
{#    <h1>Work, world & travel </h1>#}
{#    <form action="" method="get">#}
{#        <label for="search">Search</label>#}
{#        <input type="text" id="search" name="search">#}
{#        <button type="submit">Search</button>#}
{#    </form>#}
{##}
{#    <div>#}
{#        <a href="{% url 'login_view' %}"><button>Log in</button></a>#}
{#        <a href="{% url 'register_view' %}"><button>Register</button></a>#}
{#        <a href="{% url 'offers_list' %}"><button>Offers list</button></a>#}
{#    </div>#}
{#</body>#}
