{% extends 'index.html' %}

{% block contents %}
    <h1>Yours offers</h1>
    {% for offer in offers %}
        <h2>{{ offer.name }}</h2>
        <p>Description: {{ offer.description }}</p>
        {% for category in offer.category.all %}
                <p>Category: {{ category.name}}</p>
        {% endfor %}
        <p>Active: {{ offer.is_active }}</p>
        <a href="{% url 'offer_details' offer_id=offer.id %}">Offer Details<br></a>
        <a href="{% url 'edit_offer' offer_id=offer.id %}">Edit offer<br></a>
        <a href="{% url 'delete_offer_ays' offer_id=offer.id %}">Delete offer<br></a>
    {% endfor %}
{% endblock %}