{% extends 'index.html' %}

{% block contents %}
    <h1>Your Profile</h1>
        <p>Name: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name}}</p>
        <p>Contact Number: {{ user.baseinformation.contact_number }}</p>
        <p>Date of Birth: {{ user.baseinformation.date_of_birth }}</p>
        <p>Are you traveling: {{ user.baseinformation.are_you_traveling }}</p>
        <p>Native Origin: {{ user.baseinformation.native_origin }}</p>
        <p>Sex: {{ user.baseinformation.get_sex_display }}</p>

    {% if BaseInformation is not None %}
        <a href="{% url 'edit_base_info' %}">Edit Base Information</a>
    {% else %}
        <a href="{% url 'add_base_info' %}">Add Base Information</a>
    {% endif %}
{% if not authorized %}
<a href="start.html"></a>
{% endif %}
{% endblock %}
